{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据中心{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/submit/" method="post">
            {% csrf_token %}
            <input type="hidden" name="job_id" value="{{ job_id }}">
            <div class="row">
                <label style="font-size: x-large">Data review: (Part)</label>
                <div style="overflow-x: scroll">
                    {{ html }}
                </div>
            </div>
            <div class="row">
                <label style="font-size: x-large" class="control-label">Select columns for calculating: </label>
                <div class="col-lg-12">
                    <div class="form-inline" style="height: 100px; border: 1px solid #dbdbdb; border-radius: 5px; padding: 10px; overflow-y: scroll">
                        {% for column in columns %}
                            <div class="col-lg-4">
                                <label class="control-label">{{ column }}:</label>
                                <input class="checkbox" type="checkbox" name="{{ column }}">
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="button" class="btn btn-default" onclick="selectAll(this)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="reset" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <br>
                <label style="font-size: x-large" class="control-label">Select target column: </label>
                <br>
                <div class="col-lg-3 form-inline">
                    <select name="column_as_target" class="form-control">
                        {% for column in columns %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary">
                        confirm
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Select all checkbox
        function selectAll(ele) {
            let checkboxes = $(ele).siblings().find("input");
            for (let i = 0; i < checkboxes.length; i++){
                $(checkboxes[i]).click();
            }
        }
    </script>
{% endblock %}