{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据中心{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% if not error %}
    <div class="container">
        <div id="tabContent" class="tab-content">
            <div id="raw" role="tabpanel" class="tab-pane fade active in">
                <br>
                <form class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="job_id" value="{{ job_id }}">
                    <input type="hidden" name="choose_data" value="{{ choose_data }}">
                    <div class="form-group">
                        <label class="col-lg-1 control-label">Title</label>
                        <div class="col-lg-3">
                            <input class="form-control" name="title">
                        </div>
                        <label class="col-lg-2 control-label">Raw color</label>
                        <div class="col-lg-2">
                            <input type="color" class="form-control" name="raw_color">
                        </div>
                        <label class="col-lg-2 control-label">Predict color</label>
                        <div class="col-lg-2">
                            <input type="color" class="form-control" name="predict_color">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Raw Features 1</label>
                        <div class="col-lg-2">
                            <select name="feature_1" class="form-control">
                                <option>None</option>
                                {% for column in raw_columns %}
                                    <option value="{{ forloop.counter0 }}">{{ column }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-lg-2 control-label">Raw Features 2</label>
                        <div class="col-lg-2">
                            <select name="feature_2" class="form-control">
                                <option>None</option>
                                {% for column in raw_columns %}
                                    <option value="{{ forloop.counter0 }}">{{ column }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                    {% if upload_columns %}
                        <div class="alert alert-warning" role="alert" style="font-size: large">
                        Your raw data contains:
                        {% for column in raw_columns %}
                        "{{ column }}"
                        {% endfor %}
                        <br>
                            Please select columns of uploaded data accordingly.
                            <button type="button" class="btn btn-default" onclick="select_all()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <div style="border: 1px solid #dbdbdb; border-radius: 5px; padding: 10px">
                            <div class="form-inline" style="height: 100px; overflow-y: scroll">
                                {% for column in upload_columns %}
                                    <div class="col-lg-4 checkbox">
                                        <label>
                                            <input type="checkbox" name="{{ column }}">{{ column }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" type="button" onclick="showImage(this.parentNode.parentNode.parentNode)">Plot</button>
                            <button class="btn btn-default" type="reset" value="reset">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="container">
            <iframe id="fitImage" style="width: 100%; height: 800px"></iframe>
        </div>
        <br>
        <div class="row col-lg-offset-1">
            <a id="downloadPredict" class="btn btn-success" style="display: none" href="#">Download predict file</a>
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/preprocess.js' %}"></script>
    <script>
    // Draw the graph
    function showImage(ele) {
        if ($("input[name=choose_data]").val() === "upload"){
            let raw_col_length = $('select[name="feature_1"]').children().length - 1;
            let col_count = 0;
            let select_cols = $("input[type='checkbox']");
            for (let i = 0; i < select_cols.length; i++){
                if (select_cols[i].checked){
                    col_count++
                }
            }
            if (col_count !== raw_col_length){
                alert(
                    "The number of selected columns doesn't match the raw data!\n" +
                    "Required: " + raw_col_length + "\n" +
                    "Selected: " + col_count
                );
                return 0
            }
        }
        let form = $(ele).serializeArray();
        let formData = new FormData();
        $.each(form, function (i, field) {
            formData.append(field["name"], field["value"])
        });
        $.ajax({
            url: "/draw/",
            type: "POST",
            data: formData,
            dataType:"JSON",
            contentType: false,
            processData: false,
            success: function (retVal) {
                if (retVal["err"] != ""){
                    alert(retVal["err"])
                }
                else {
                    let fig = document.getElementById("fitImage").contentDocument;
                    fig.open();
                    fig.write(retVal["image"]);
                    fig.close();
                    let href = "/download/";
                    let downloadBtn = $("#downloadPredict");
                    downloadBtn.attr("href", href);
                    downloadBtn.removeAttr("style");
                }
            },
            error: function (msg) {
                console.log(msg)
            }
        })
    }

    function select_all() {
        $(".checkbox").children().find("input").click()
    }
    </script>
{% endblock %}