{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据中心{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% if not processing and not error %}
    <div class="container">
        <div class="row">
            <label style="font-size: xx-large">Conversion</label>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Featurize structure</label>
                    <div class="col-lg-3">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-3">
                        <select name="featurizer" class="form-control" onchange="show_value(this)"></select>
                    </div>
                    <div class="col-lg-3" style="display: none">
                        <select name="value" class="form-control"></select>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Featurize composition</label>
                    <div class="col-lg-3">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-3">
                        <select name="featurizer" class="form-control"></select>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <input type="hidden" name="featurizer" value="rename">
                    <label class="col-lg-2 control-label">Rename volume:</label>
                    <div class="col-lg-3">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" name="value">
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Convert string to structure:</label>
                    <input type="hidden" name="featurizer" value="strToStructure">
                    <div class="col-lg-4">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Convert string to composition:</label>
                    <input type="hidden" name="featurizer" value="StrToComposition">
                    <div class="col-lg-4">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" action="/job/process/" method="get">
                <input type="hidden" name="job_id" value="{{ job_id }}">
                <input type="hidden" name="choose_data" value="{{ choose_data }}">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Convert structure to composition:</label>
                    <input type="hidden" name="featurizer" value="StructureToComposition">
                    <div class="col-lg-4">
                        <select name="target_column" class="form-control"></select>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success" type="submit">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <label style="font-size: xx-large">Preview</label>
            <div id="table" class="table-responsive" style="height: 500px">
                {{ html }}
            </div>
        </div>
    </div>
    {% elif processing %}
    <div style="position: fixed; opacity: 0.8; top: 0; bottom: 0; left: 0; right: 0; background-color: #333">
        <div class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: block">
            <div class="modal-dialog modal-lg" role="document" style="top: 30%; text-align: center">
                <label style="color: #ffffff; font-size: xx-large">
                    The data is still under processing. Please come back later.
                </label>
                <div style="height: 20px"></div>
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Processing
                    </div>
                </div>
                <div style="height: 70px"></div>
                <a class="btn-lg btn-default" href="/home/"><span class="glyphicon glyphicon-home"></span></a>
            </div>
        </div>
    </div>
    {% elif error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/preprocess.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // Create featurizer choices
            let selector = $("select[name='featurizer']");
            $(selector[0]).html(structureFeaturizersSelector());
            $(selector[1]).html(compositionFeaturizersSelector());
            // Create target column choices
            let table_head = $("thead");
            let columns = table_head.find("th");
            let str = '<option>None</option>';
            for (let i = 0; i < columns.length; i++){
                let html = $(columns[i]).html();
                if (html != ""){
                    str += '<option value="' + html + '">' + html + '</option>'
                }
                let selector = $("select[name='target_column']");
                for (let i = 0; i < selector.length; i++){
                    $(selector[i]).html(str)
                }
            }
            // Create site featurizer choices for SiteStatsFingerprint
            let site_featurizer_choices = $("select[name='value']")[0];
            str = "";
            for (let i = 0; i < siteFeaturizers.length; i++) {
                str += '<option value=' + siteFeaturizers[i] +'>' + siteFeaturizers[i] + '</option>'
            }
            $(site_featurizer_choices).html(str);
        });

        // Display the value choices
        function show_value(ele) {
            let site_featurizer_choices = $("select[name='value']")[0];
            if ($(ele).val() === "SiteStatsFingerprint"){
                $(site_featurizer_choices).parent().removeAttr("style")
            }
            else {
                $(site_featurizer_choices).parent().attr("style", "display: none")
            }
        }
    </script>
{% endblock %}